@import url('https://api.fonts.coollabs.io/css2?family=Kanit:wght@300;400;700&family=Rubik:wght@300;400;700&display=swap');
@import url('https://api.fonts.coollabs.io/css2?family=Rubik+Wet+Paint&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-size: 16px;
  background-color: #faf5f5;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}

.kanit {
    font-family: 'Kanit', Courier, monospace;
}

.rubik {
    font-family: 'Rubik wet paint', Courier, monospace;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .section {
        margin-top: 10rem;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}